.about-content {
    width: 1400px;
    margin-left: 0px;
    margin-top: 0px;
}

.about-content p {
    position: relative;
    color: black;
    margin-top: 20px;
    margin-left: 400px;
    max-width: 720px;
    font-family: monospace;
}

.about-content h1 {
    position: relative;
    color: black;
    font-size: 48px;
    font-family: monospace;
    text-align: left;
    margin-top: 165px;
    margin-left: 400px;
}