* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: monospace;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

