* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: monospace;
}

.main-nav.active {
    background: #000;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/viking.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main-nav  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;  
    text-align: center;
    line-height: 40px;
} 

.main-nav li {
    display: inline-block;
    font-family: monospace;
    color: white;
    list-style-type: none;
    line-height: 50px;

}

.main-nav a {
    display: block;
}

.main-nav ul li {
    list-style-type: none;
	display:inline-block;
	padding: 10px 50px;
	color: white;
	font-size: 24px;
	font-family: monospace;
	border-radius:10px;
	transition: .5s;
}

.main-nav li.active a {
    color: gray;
}

.main-nav li a {
    color: white;
    text-decoration: none;
}

.main-nav ul li:hover {
    border: 1px solid white;
    cursor: pointer;
}

.header {
    max-width: 1400px;
    margin: auto;
}

.hero {
    width: 1400px;
    margin-left: 0px;
    margin-top: 0px;
}

.hero p {
    position: relative;
    color: white;
    margin-top: 20px;
    margin-left: 765px;
    max-width: 700px;
}

.hero h1 {
    position: relative;
    color: white;
    font-size: 24px;
    font-family: monospace;
    text-align: left;
    margin-top: 165px;
    margin-left: 765px;
}

.main-grid {
    color: black;
    margin-top: 35px;
    margin-left: 745px;
}

.container {
    overflow: hidden;
  }
  
.sliding-background {
    height: 1500px;
    width: 1500px;
  }

  .a {
   
  }