<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../stylesheet/primary-style.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/header.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/manga-stylesheet/berserk-style.css">
    <title>Berserk</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header">
                <div class="main-nav" id="nav">
                    <div style="position: relative; left: 0; top: 0;">
                        <img src="../../assets/logo.png" align="left" ; style="margin:auto" ; width="100px" ; height="80px" ; display="block" ; class="white-logo"
                        />
                        <img src="../../assets/logo-black.png" align="left" ; style="margin:auto" ; width="100px" ; height="80px" ; display="block"
                            ; class="black-logo" />
                    </div>
                    <ul>
                        <li>
                            <a href="./../mainpage.html">HOME</a>
                        </li>
                        <li>
                            <a href="../../library-about.html">ABOUT</a>
                        </li>
                        <li>
                            <a href="../../library-contact.html">CONTACT</a>
                        </li>
                        <li>
                            <a href="../../library-news.html">NEWS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="berserk">
        <div class="berserk-content">
                <h1>Berserk</h1>
            </div>
        </div>
    </div>
</body>

</html>