<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../stylesheet/style.css" type="text/css">
</head>

<body>
    <header>
        <div class="container">
            <div class="sliding-background">
                <div class="header">
                    <div class="main-nav" id="nav">
                        <ul>
                            <li>
                                <a href="mainpage.html">HOME</a>
                            </li>
                            <li class="active">
                                <a href="">ABOUT</a>
                            </li>
                            <li>
                                <a href="library-contact.html">CONTACT</a>
                            </li>
                            <li>
                                <a href="library-news.html">NEWS</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="hero">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae risus sollicitudin, efficitur tortor
                        ac, bibendum turpis. Curabitur lacus dolor, viverra vel nunc sed, mattis tincidunt mi. Curabitur
                        imperdiet ante dolor, tincidunt semper ipsum bibendum vel. Aenean quis dolor tincidunt, aliquam ante
                        sed, facilisis eros. Donec ultricies, sem nec viverra pharetra, eros justo tincidunt metus, quis
                        pharetra tortor est eget elit. Fusce augue lectus, ultricies nec elementum quis, dapibus vel ante.
                        Ut rhoncus purus eu nisl tincidunt, sed rhoncus odio pretium. Phasellus condimentum tincidunt justo
                        sit amet dapibus. Praesent tempor quam feugiat metus ultricies, finibus suscipit nibh malesuada.
                        Duis quis ex ullamcorper, scelerisque nibh non, ornare ex. In at tellus vitae ligula finibus aliquam.
                        Vivamus consectetur congue eros id dignissim.
                        <br>
                        <br> Fusce dignissim luctus lorem, eget semper est cursusut. Aliquam commodo hendrerit nisl, eu imperdiet
                        quam ullamcorper vitae. Sed quis est at libero sagittis dignissim. Vestibulum vulputate congue orci,
                        non interdum lectus laoreet at. Vestibulum rutrum molestie interdum. Vestibulum iaculis augue fermentum,
                        pellentesque leo eget, aliquet leo. Nam ac purus sit amet nulla tristique efficitur.
                        <br>
                        <br> Vestibulum blandit hendrerit dui tristique consectetur. Ut eu euismod lectus, nec facilisis ante.
                        Vestibulum tincidunt consequat erat eu sollicitudin. Donec fermentum tincidunt nisl, eget scelerisque
                        leo vulputate ac. Curabitur sed commodo ipsum, id laoreet libero. Fusce ipsum mauris, mollis blandit
                        est sit amet, malesuada molestie nibh. Duis ut quam tincidunt, malesuada dolor eu, convallis neque.
                        Mauris nec imperdiet arcu, nec tempus arcu. Cras et ex neque. Sed vitae bibendum lectus, ut vehicula
                        nulla. Curabitur ut erat quis tortor euismod scelerisque at non nulla. Suspendisse id turpis et ipsum
                        tristique rutrum vitae eu odio. Proin ullamcorper tempus urna nec varius. Quisque nec nisl pellentesque
                        lacus condimentum sagittis lobortis in neque. Nam sollicitudin ornare dictum. Nulla bibendum urna
                        nec rhoncus lacinia.
                        <br>
                        <br> Cras aliquam vulputate dui, quis fermentum nisl tristique eu. Sed tincidunt est sit amet ex ornare
                        consequat. Etiam eu tellus sit amet ante pellentesque posuere. Vestibulum venenatis, nisi non ullamcorper
                        faucibus, diam nulla efficitur enim, id feugiat lacus tortor non nunc. Nunc fermentum dictum nisl,
                        non bibendum quam imperdiet in. Ut nec mauris euismod, pretium dolor ac, mollis quam. Pellentesque
                        tincidunt sodales enim nec finibus. Morbi urna magna, ornare eu lectus non, sodales posuere sapien.
                        In sollicitudin purus sed quam laoreet rutrum.
                        <br>
                        <br> Pellentesque rhoncus quam mi, in rhoncus sem aliquet a. Sed dapibus tortor bibendum nunc suscipit,
                        non aliquet eros pellentesque. Proin iaculis turpis quis lectus lobortis dictum. Donec tortor magna,
                        sagittis eget risus non, viverra varius velit. Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia Curae; Suspendisse pulvinar, felis sit amet tincidunt scelerisque, ligula
                        dolor tempus odio, aliquet vulputate tortor odio sed odio. Nullam in purus et libero gravida ornare.
                        <br>
                        <br> Maecenas vitae risus in quam ultricies consequat euismod et dolor. Nulla pharetra hendrerit neque,
                        in euismod dui ullamcorper in. Sed massa tellus, faucibus id accumsan ac, accumsan eu libero. Nulla
                        efficitur fermentum iaculis. Nullam tincidunt augue justo, ac congue turpis efficitur non. Cras imperdiet
                        vehicula sem at mattis. Donec sodales augue arcu, a faucibus tellus ultricies ac. Nam sit amet dictum
                        ipsum. Phasellus quis massa ultrices, efficitur dui eu, dictum tellus. Quisque tempor est sit amet
                        libero tincidunt, vitae consectetur neque finibus. Mauris convallis est ac volutpat lacinia. Suspendisse
                        semper risus tellus, a tempor ante aliquet in. Nam sagittis leo in nibh ultrices, ac maximus purus
                        commodo. Quisque ultrices et lacus et vulputate. Ut mattis erat a gravida hendrerit.</p>

                </div>
            </div>
        </div>
    </header>
    <script src="../scripts/index.js"></script>

</body>

</html>