<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
    <title>News</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="sliding-background">
                <div class="header">
                    <div class="main-nav" id="nav">
                        <ul>
                            <li>
                                <a href="mainpage.html">HOME</a>
                            </li>
                            <li>
                                <a href="library-about.html">ABOUT</a>
                            </li>
                            <li>
                                <a href="library-contact.html">CONTACT</a>
                            </li>
                            <li class="active">
                                <a href="">NEWS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </header>
    <script src="../scripts/index.js"></script>

</body>

</html>